body {
  margin: 0;
  box-sizing: border-box;
}

.founders {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.profile {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile__img {
  width: 200px;
  border-radius: 50%;
}